.mydick {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-left: 50%;
  margin-top: 350px;
}

.transcription {
  font-size: 45px;
  color: green;
}

.link {
  font-size: 45px;
  color: red;
}
